body{
    background-color: aquamarine;
    font-family: "Delius", cursive;
    font-weight: 400;
    font-style: normal;
}
.Descricao{
    border-color: aqua;
    border-width: 3px;
    border-radius: 5%;
    font-family: "Delius", cursive;
}



.Agendar{
    width: 200px;
    height: 30px;
    position: absolute;
    left: 12%;
    background-color: rgb(174, 231, 212);
    border-radius: 10%;
    border-color: rgba(21, 104, 76, 0.61);
    border-width: 3px;
    font-family: "Delius", cursive;
}
  
.radios{
    position: relative;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    height: fit-content;
    width: 85%;
    scale: 1;
    top: 33%;
    left: 10%;
    background-color: rgb(128, 255, 212 , 0.4);
    border-width: 4px;
    border-color: rgba(128, 255, 213, 0.61);
    border-radius: 5%;
    border-style: solid;
    scale: 0.95;
}
.titulos{
    position: relative;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    left: -30%;
    font-size: large;
    font-style: italic;
    font-weight: bold;
    color: #166ab8;

}
.DetalhesAdicionais{
    position: relative;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    height: 200px;
    width: 600px;
    left: 20%;
    background-color: aliceblue;
}

.container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    height: 95vh;
    width: 80vw;
    left: 10%;
    background-color: rgb(246, 248, 250);
    box-shadow: #000000 0px 0px 5px;
    border-radius: 10%;
}

.seusPets{
    position: absolute;
    display: block;
    flex-direction: row;
    justify-content: left;
    margin-top:30px ;
    left: 16%;
    top: 66%;
    width: 60%;
    height: 230px;
    background-color: rgb(128, 255, 212 , 0.4);
    border-width: 4px;
    overflow-x: hidden;
    overflow-y: scroll;
}
.pet{    
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    position: relative;
    height: 200px;
    width: 80%;
    left: 00%;
    border-color: rgba(128, 255, 213, 0.61);
    background-color: rgb(141, 202, 182);
    border-width: 4px;
    border-style: solid;

    
}
.pet img{
    position: relative;
    margin: 10px;
    height: 100px;
    width: 200px;
    max-width: 20%;
    max-height: 2%;
    top: 10%;
    border: .5px solid #7a0000;
    overflow: hidden;
}

.pet h3{
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
}
.pet .descricao{
    position: absolute;
    top: 45%;
    left: 52.6%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
    width: 55%;
    height: 50%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.pet button{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
}

