body{
  background-color: rgba(127, 255, 212, 0.164);
    font-family: "Delius", cursive;
    font-weight: 400;
    font-style: normal;
}

.texto{
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    width: 50%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25.01002651px;
    left: 0%;
    top: 21%;
}



.navbar{
    background-color: aquamarine;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    border-radius: 0% 0% 10% 10%;
    z-index: 999;
  }
  .navbar .links{
    margin-right: 20px;
  }
  .navbar a {
    font-size: 18px;
    border-left: #7a0000 solid 1.8px;
    border-right: #7a0000 solid 1.8px;
    border-top: #7a0000 solid 1.8px;
    background-color: rgb(19, 49, 49);

    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
  }
  .logo {
    margin-top: 20px;
    margin-left: 20px;
    width: 100px;
    height: 60px;
  }

  .img{
    position: absolute;
    width: 40%;
    top : 150px;
    left: 50%;
    background-color: #b122228a;    
    border-radius: 30% 30% 10%;
}
    .button{
        position: absolute;
        top: 45%;
        left: 5%;
        border-radius: 1% 30% 30%;
        border-width: 0px;
        width: 250px;
        height: 100px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-color: aquamarine;

    }
    
    .button p{
        border-radius: 1% 30% 30%;
        border-width: 0px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        color: #ffffff;
        font-size: 25px;
        padding-left: 15px;
    }

    .button:hover{
        animation: easteregg 30s ease-in infinite;
    }
    @keyframes easteregg {   
        0% { opacity: 0.6; background-color: #7a0000; }
        5% { opacity: 1; background-color: #7a0000; }
        10% { opacity: 0.6; background-color: #7a0000; }
        15% { opacity: 1; background-color: #7a0000; }
        20% { opacity: 0.6; background-color: #7a0000; }
        25% { opacity: 1; background-color: #7a0000; }
        30% { opacity: 0.6; background-color: #7a0000; }
        35% { opacity: 1; background-color: #7a0000; }
        40% { opacity: 0.6; background-color: #7a0000; }
        45% { opacity: 1; background-color: #7a0000; }
        50% { opacity: 0.6; background-color: #7a0000; }
        55% { opacity: 1; background-color: #7a0000; }
        60% { opacity: 0.6; background-color: #7a0000; }
        65% { opacity: 1; background-color: #7a0000; }
        70% { opacity: 0.6; background-color: #7a0000; }
        75% { opacity: 1; background-color: #7a0000; }
        80% { opacity: 0.6; background-color: #7a0000; }
        85% { opacity: 1; background-color: #7a0000; }
        90% { opacity: 0.6; background-color: #7a0000; }
        100% { opacity: 1; background-image: url('../../imagens/thanos.png');}


      }
      .seguro{
        position: absolute;
        top: 50%;
        left: 50%;
        border-radius: 1% 30% 30%;
        border-width: 0px;
        width: 500px;
        height: 100px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        font-size: 10px;
        color: #311111;
      }