body{
    background-color: aquamarine;
    font-family: "Delius", cursive;
    font-weight: 400;
    font-style: normal;
}
.RegistrarPet{
    position: absolute;
    margin: 10px;
    height: 70px;
    width: 250px;
    border: .5px solid #7a0000;
    background-color: #7a0000;
    color: #ffffff;
}
.containerBG{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
    width: 80vw;
    left: 10%;
    background-color: rgb(246, 248, 250);
    padding-bottom:100px; ;
}
.container{
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    height: 100%;
    left: 0px;
    padding: 30px;
    padding-bottom: 100px;
    justify-content: left;
    margin: 10px;

}
.container input{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 25vw;
    height: 4vh;
    border-radius: 1% 30%;
    min-width: fit-content;
    background-color: #ffffff;
    text-align: center;
    font-size: large;
}

.containerRadios{
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr;
    width: 200px;
    height: 100%;
    left: 0px;
    justify-content: left;
    margin: 3%;
}
.radio{
    width: 35px;
    height: 35px;
}
.NomeImagem{
    position: relative;
    width: 25vw;
    height: 7vh;
    border-radius: 1% 30%;
    min-width: fit-content;
    text-align: center;
    font-size: large;
    margin-left: 10px;
    margin-top: 20px;
}





